<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.roadway.caronaamiga">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RequestRide"
            android:label="@string/title_activity_ride_request" />
        <activity android:name=".view.ProfileActivity" />
        <activity android:name=".view.SearchRide" />
        <activity android:name=".view.OfferRide" />
        <activity android:name=".view.RideFounded" />
        <activity android:name=".view.ChooseStopPointActivity" />
        <activity android:name=".view.RideFinalMessageActivity"/>
    </application>

</manifest>